<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SARSHMS"
        tools:targetApi="31">

        <!-- ✅ Set StartActivity as the First Screen -->
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".User.LoginActivityUser" android:exported="true"/>
        <activity android:name=".User.MainActivityUser" android:exported="true"/>
        <activity android:name=".User.SignupActivityUser"/>
        <activity android:name=".HospitalAdmin.DashboardActivityHospital"/>
        <activity android:name=".HospitalAdmin.LoginActivityHospital"/>
        <activity android:name=".HospitalAdmin.ManageStaffActivity"/>
        <activity android:name=".HospitalAdmin.SignupActivityHospital"/>
        <activity android:name=".HospitalStaff.LoginActivityStaff"/>
        <activity android:name=".doctors.DoctorDashboard"/>
        <activity android:name=".User.BookAppointmentActivity"/>
        <activity android:name=".receptionist.ReceptionistDashboard"/>

    </application>

</manifest>
